<div class="dark-green-bg page-container">
  <div class="app-title">
    <div>
      <h1>Quiz Grade</h1>
      <h1>Management</h1>
      <h1>System</h1>
    </div>
    <div class="title-buttons">
      <a href="/quizGrade" (click)="logout()"><button>Logout</button></a>
      <a href="/teacher-page"><button>Back</button></a>
    </div>
  </div>
  <div class="container">
    <div class="form-container">
      <form>
        <!-- ... form fields here ... -->
        <div class="form-group">
          <label for="subjectName">Subject Name:</label>
          <input type="text" id="subjectName" name="subjectName" required>
        </div>
        <div class="form-group">
          <label for="examDate">Exam Date:</label>
          <input type="date" id="examDate" name="examDate">
      </div>
        <button type="submit" class="btn-submit">Create Subject</button>
      </form>
    </div>  
  </div>
</div>
