<div class="dark-green-bg page-container">
    <div class="app-title">
      <div>
        <h1>Quiz Grade</h1>
        <h1>Management</h1>
        <h1>System</h1>
      </div>
      <div class="title-buttons">
        <a href="/quizGrade" (click)="logout()"><button>Logout</button></a>
        <a href="/teacher-page"><button>Back</button></a>
      </div>
    </div>
    <div class="container">
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Course</th>
            <th>Date</th>
            <th>Average grade</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let exam of exams">
            <td>{{ exam.id }}</td>
            <td>{{ exam.course }}</td>
            <td>{{ exam.examDate}}</td>
            <td>{{ exam.grade}}</td>
            <td>
                <a><button class="table-edit" ><mat-icon class="add-icon">edit</mat-icon>Edit</button></a>
                <a><button class="table-delete delete-btn" ><mat-icon class="add-icon">delete</mat-icon>Delete</button></a>
              </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  