<div class="dark-green-bg page-container">
  <div class="app-title">
    <h1>Quiz Grade</h1>
    <h1>Management</h1>
    <h1>System</h1>
  </div>
  <div class="cards-container">
    <a class="card" href="/view-grades">
      <mat-icon class="add-icon">assignment_turned_in</mat-icon>
      <mat-icon class="top-right-icon">add_circle</mat-icon>
      <span class="card-name">
        View<span class="line-break"></span>Grades
      </span>
    </a>
    <a class="card" href="/take-exam">
      <mat-icon class="add-icon">calendar_today</mat-icon>
      <mat-icon class="top-right-icon">add_circle</mat-icon>
      <span class="card-name">
        Take<span class="line-break"></span>an exam
      </span>
    </a>
    <a class="card" href="/student-personal-data">
      <mat-icon class="add-icon">person</mat-icon>
      <mat-icon class="top-right-icon">add_circle</mat-icon>
      <span class="card-name">
        Personal<span class="line-break"></span>Data
      </span>
    </a>
    <a class="card" href="/student-feedback">
      <mat-icon class="add-icon">feedback</mat-icon>
      <mat-icon class="top-right-icon">add_circle</mat-icon>
      <span class="card-name">
        Feedback
      </span>
    </a>
  </div>
</div>
