<div class="login-container">
    <h2>Login</h2>
    <form (submit)="onSubmit()">
      <div class="input-container">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" [(ngModel)]="username" placeholder="Enter your username" required>
      </div>
      <div class="input-container">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" placeholder="Enter your password" required>
      </div>
      <button type="submit">Login</button>
    </form>
    <div class="options">
      <a href="/signup-page">Sign Up</a> | <a href="#">Forgot My Password</a>
    </div>
    <div *ngIf="accountNotFound" class="error-message">
      Account not found. Please check your credentials.
    </div>
  </div>