body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
}

/* Style for the sidebar */
.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    background-color: #333;
    color: white;
}

.sidebar-wrapper {
    padding-top: 20px;
}

.sidebar-menu {
    list-style-type: none;
    padding: 0;
}

.nav-item {
    margin-bottom: 10px;
}

.nav-link {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    transition: background-color 0.3s;
}

.nav-link:hover {
    background-color: #555;
}

/* Dropdown styles */
.nav-item.dropdown:hover ul {
    display: block;
}

.nav-item.dropdown ul {
    display: none;
    list-style-type: none;
    padding-left: 20px;
}

/* Additional styles for sub-menu items */
.nav-item.dropdown ul li {
    margin-bottom: 5px;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        position: static;
    }

    .sidebar-menu {
        text-align: center;
    }

    .nav-item {
        margin-bottom: 10px;
    }
}