<div class="sidebar dark-green-bg">
  <ul class="sidebar-menu">
    <li class="nav-item">
      <div class="card">
        <span class="add-icon">+</span>
        <span class="card-name">Students</span>
        <!-- Add icon representing text if needed -->
      </div>
    </li>
    <li class="nav-item">
      <div class="card">
        <span class="add-icon">+</span>
        <span class="card-name">Exams</span>
        <!-- Add icon representing text if needed -->
      </div>
    </li>
    <li class="nav-item">
      <div class="card">
        <span class="add-icon">+</span>
        <span class="card-name">Exercises</span>
        <!-- Add icon representing text if needed -->
      </div>
    </li>
    <li class="nav-item">
      <div class="card">
        <span class="add-icon">+</span>
        <span class="card-name">Statistics</span>
        <!-- Add icon representing text if needed -->
      </div>
    </li>
  </ul>
</div>