<div class="sidebar">
    <div class="sidebar-wrapper">
      <ul class="sidebar-menu">
        <li class="nav-item">
          <a class="nav-link" href="/students-page">
            <span>Students</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="/exam-page">
            <span>Exams</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/exercise-page">
            <span>Exercises</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="/exam-page">
            <span>Statistics</span>
          </a>
        </li>
      </ul>
    </div>
  </div>