<div class="sidebar">
    <div class="sidebar-wrapper">
      <ul class="sidebar-menu">
        <li class="nav-item">
          <a class="nav-link" href="/login-page">
            <span>Students</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="/">
            <span>Exams</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/exercises-page">
            <span>Exercises</span>
          </a>
        </li>
      </ul>
    </div>
  </div>