<div class="dark-green-bg page-container">
  <div class="app-title">
    <h1>Quiz Grade</h1>
    <h1>Management</h1>
    <h1>System</h1>
  </div>
  <div class="container">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Value</th>
          <th>Student Name</th>
          <th>Exam ID</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let grade of grades">
          <td>{{ grade.id }}</td>
          <td>{{ grade.value }}</td>
          <td>{{ grade.student.firstName + " " + grade.student.lastName }}</td>
          <td>{{ grade.exam.id }}</td>
          <td>
            <a>
              <button class="table-edit" (click)="editGrade(grade)">
                <mat-icon class="button-icon">edit</mat-icon>Edit
              </button>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
