<div class="dark-green-bg page-container">
  <div class="app-title">
    <div>
      <h1>Quiz Grade</h1>
      <h1>Management</h1>
      <h1>System</h1>
    </div>
    <div class="title-buttons">
      <a href="/quizGrade" (click)="logout()"><button>Logout</button></a>
      <a href="/student-main-page"><button>Back</button></a>
    </div>
  </div>
    <div class="container">
      <table>
        <thead>
          <tr>
            <th>Grade</th>
            <th>Exam</th>
            <th>Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let grade of grades">
            <td>{{ grade.value }}</td>
            <td>{{ grade.exam.course }}</td>
            <td>{{ grade.exam.examDate}}</td>
            <td>
              <a>
                <button class="table-edit" (click)="sendFeedback(grade)">
                  <mat-icon class="button-icon">edit</mat-icon>Send feedback
                </button>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  