.dark-green-bg {
  background-color: #142323;
  color: #ffffff;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: stretch; 
  min-height: 100vh;
  padding: 20px;
}

.app-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: center;
  width: 100%; 
  margin-top: calc(0.75cm + 10px);
  margin-bottom: 0.5cm;
  border-left: 5px solid #24cb8c;
  padding-left: 10px;
}
.title-buttons {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: flex-end;
  gap: 10px;
}

.title-buttons button {
  padding: 10px 15px;
  background-color: #217666;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 18px;
  
}

.title-buttons button:hover {
  background-color: #1f9e7d;
}


.title-buttons button {
  position: relative; 
}


.title-buttons button {
  width: auto; 
  min-width: 100px;
  text-decoration: none;
}
.title-buttons a{
  text-decoration: none;
}

.app-title h1,
.app-title h2,
.app-title h3 {
  margin: 10px;
  padding: 0;
  font-size: 35px;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #3498db, #2c3e50);
  color: #fff;
}

.container {
  border-radius: 20px;
  width: 97.5%;
  margin-top: 50px;
  padding: 20px;
  background-color: #24cb8c;
  margin-top: 50px;
  position: relative;
}

div {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;
}

input {
  position: absolute;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  top: 15px;
  left: 20px;
  width: 40%;
  font-size: 17px;
}

table {
  width: 100%;
  margin-top: 20px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  border: none;
  border-collapse: collapse;
}

th {
  background-color: #a8a8a8;
  color: #000;
}
th,
td {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: left;
  position: relative;
  font-size: 17px;
}

button {
  position: absolute;
  background-color: #217666;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  top: 15px;
  right: 15px;
  font-size: 16px;
}

.table-delete {
  top: 10px;
  background-color: #217666;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 33.3%;
  display: flex;
  align-items: center;
  right: 10px;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

.table-edit {
  top: 10px;
  background-color: #217666;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 30%;
  display: flex;
  align-items: center;
  left: 10px;
  font-size: 16px;
}

.add-icon {
  font-size: 16px;
  margin-top: 5px;
}

table-button.delete-btn {
  background-color: #f44336;
}

button.delete-btn:hover {
  background-color: #d32f2f;
}
