
<body>
    <div class="wrapper">
        <div class="page-header" style="background-image: url('/assets/antoine-barres.jpg');">
            <div class="top-right-buttons">
                <button id="loginButton"><a href="/login-page">Login</a></button>
                <button id="registerButton"><a href="/signup-page">Sign Up</a></button>
            </div>
            <div class="filter"></div>
            <div class="content-center">
                <img src="/assets/angular2-logo.png" alt="Angular logo" class="logo">
                <h1 class="presentation-title">Quiz Grade</h1>
                <h1 class="presentation-title"> Management</h1>
                <h1 class="presentation-title">System</h1>

            </div>
        </div>
    </div>
</body>
