body, html {
  height: 100%;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

.wrapper {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.page-header {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.content-center {
  z-index: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  /* Adjust size accordingly */
  width: 120px; 
  margin-bottom: 20px;
}

.presentation-title {
  font-size: 4.5rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px;
}
.fog-low img {
  width: 100%;
}
.fog-low.right {
  margin-left: 30%;
  opacity: 1;
}
.top-right-buttons {
  position: absolute;
  top: 40px;
  right: 50px;
  z-index: 3;
  font-size: 40px;
}

#loginButton, #registerButton {
  padding: 10px 20px;
  margin-left: 25px;
  background-color: rgba(255, 255, 255, 0.24); /* semi-transparent white */
  border: 1px solid #dddddd00;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #fff;
}
#loginButton a, #registerButton a {
  color: #fff; /* Set text color to white */
  text-decoration: none; /* Removes text decoration */
  display: block; /* Makes the entire button area clickable */
}
#loginButton a:hover, #registerButton a:hover,
#loginButton a:focus, #registerButton a:focus {
  color: #fff; /* Keeps text color white */
  text-decoration: none; /* Ensures text decoration is not added */
}