<div class="dark-green-bg page-container">
    <div class="app-title">
        <h1>Quiz Grade</h1>
        <h1>Management</h1>
        <h1>System</h1>
    </div>
    <div class="cards-container">
        <a class="card" href="/students-page">
            <mat-icon class="add-icon">supervisor_account</mat-icon>
            <mat-icon class="top-right-icon">add_circle</mat-icon>
            <span class="card-name">
                List of<span class="line-break"></span>Students
            </span>
        </a>
        <a class="card" href="/grades-page">
            <mat-icon class="add-icon">assignment_turned_in</mat-icon>
            <mat-icon class="top-right-icon">add_circle</mat-icon>
            <span class="card-name">
                Review<span class="line-break"></span>Grades
            </span>
        </a>
        <a class="card with-spacing" href="/exercise-page">
            <mat-icon class="add-icon">list_alt</mat-icon>
            <mat-icon class="top-right-icon">add_circle</mat-icon>
            <span class="card-name">
                Manage<span class="line-break"></span>Existing<span class="line-break"></span>Exercises
            </span>
        </a>
        <a class="card" href="/exam-page">
            <mat-icon class="add-icon">calendar_today</mat-icon>
            <mat-icon class="top-right-icon">add_circle</mat-icon>
            <span class="card-name">
                Program<span class="line-break"></span>an exam
            </span>
        </a>
        <a class="card with-spacing" href="/create-a-subject">
            <mat-icon class="add-icon">create</mat-icon>
            <mat-icon class="top-right-icon">add_circle</mat-icon>
            <span class="card-name">
                Create a<span class="line-break"></span>subject
            </span>
        </a>
        <a class="card" (click)="handleCardClick('Card 6')">
            <mat-icon class="add-icon">person</mat-icon>
            <mat-icon class="top-right-icon">add_circle</mat-icon>
            <span class="card-name">
                Personal<span class="line-break"></span>Data
            </span>
        </a>
        <a class="card with-spacing" (click)="handleCardClick('Card 7')">
            <mat-icon class="add-icon">pie_chart</mat-icon>
            <mat-icon class="top-right-icon">add_circle</mat-icon>
            <span class="card-name">
                Statistics
            </span>
        </a>
        <a class="card" (click)="handleCardClick('Card 8')">
            <mat-icon class="add-icon">feedback</mat-icon>
            <mat-icon class="top-right-icon">add_circle</mat-icon>
            <span class="card-name">
                Feedback
            </span>
        </a>
    </div>
</div>
