<p>
  <mat-toolbar color="primary" class="fancy-toolbar">
    <span><h1>{{ title }}</h1></span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Login" (click)="openInNewTab('/login-page')">
      <mat-icon>login</mat-icon>
      <div class="nav-label">Login</div>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Sign in" (click)="openInNewTab('signup-page')">
      <mat-icon>person</mat-icon>
      <div class="nav-label">Sign up</div>
    </button>
  </mat-toolbar>
</p>
<router-outlet></router-outlet>
