

<div class="container">
    <h2>Enter Exam Code</h2>
  
    <div class="form-group">
      <label for="examId">Exam ID:</label>
      <input type="text" id="examId" [(ngModel)]="enteredExamId" class="form-control" placeholder="Enter Exam ID">
    </div>
  
    <button class="btn btn-primary" (click)="checkAndOpenExam()">Take Exam</button>

    <div *ngIf="exam">
      <h3>Exam Details:</h3>
      <p>ID: {{ exam.id }}</p>
      <p>Course: {{ exam.course }}</p>
    </div>
  
    <div *ngIf="exercises.length > 0">
      <h3>Exercises:</h3>
      <ul>
        <li *ngFor="let exercise of exercises">
          {{ exercise.text }} - {{ exercise.option1 }} - {{ exercise.option2}} - {{ exercise.option3}} - {{ exercise.option4}} - {{ exercise.answer}}

        </li>
      </ul>
    </div>
  </div>

  