<div class="dark-green-bg page-container">
  <div class="app-title">
    <div>
      <h1>Quiz Grade</h1>
      <h1>Management</h1>
      <h1>System</h1>
    </div>
    <div class="title-buttons">
      <a href="/quizGrade" (click)="logout()"><button>Logout</button></a>
      <a href="/student-main-page"><button>Back</button></a>
    </div>
  </div>
  <div class="container">
    <h2>Enter Exam Code</h2>
  
    <div class="form-group">
      <label for="examId">Exam ID:</label>
      <input type="text" id="examId" [(ngModel)]="enteredExamId" class="form-control" placeholder="Enter Exam ID">
    </div>
  
    <button class="btn btn-primary" (click)="checkAndOpenExam()">Take Exam</button>

    <div *ngIf="exam">
      <h2>Exam details</h2>
      <p>ID: {{ exam.id }}</p>
      <p>Course: {{ exam.course }}</p>
    </div>
    <form *ngIf="exercises.length > 0" (submit)="submitExercises($event)">
      <h3>Exercises:</h3>
      <div *ngFor="let exercise of exercises; let i = index">
        <p>{{ exercise.text }}</p>
        <div>
          <input type="radio" [id]="'exercise-' + i + '-option1'" [name]="'exercise-' + i" [(ngModel)]="selectedAnswers[i]" [value]="exercise.option1">
          <label [for]="'exercise-' + i + '-option1'">{{ exercise.option1 }}</label>
        </div>
        <div>
          <input type="radio" [id]="'exercise-' + i + '-option2'" [name]="'exercise-' + i" [(ngModel)]="selectedAnswers[i]" [value]="exercise.option2">
          <label [for]="'exercise-' + i + '-option2'">{{ exercise.option2 }}</label>
        </div>
        <div>
          <input type="radio" [id]="'exercise-' + i + '-option3'" [name]="'exercise-' + i" [(ngModel)]="selectedAnswers[i]" [value]="exercise.option3">
          <label [for]="'exercise-' + i + '-option3'">{{ exercise.option3 }}</label>
        </div>
        <div>
          <input type="radio" [id]="'exercise-' + i + '-option4'" [name]="'exercise-' + i" [(ngModel)]="selectedAnswers[i]" [value]="exercise.option4">
          <label [for]="'exercise-' + i + '-option4'">{{ exercise.option4 }}</label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit Answers</button>
    </form>
  </div>
</div>